@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: "Geist Mono";
}

body,
html {
  height: 100%;
}

.flex {
  min-height: 100%;
  max-height: 100%;
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.navbar {
  padding: 4px;
  overflow-x: auto;
  min-height: 30px;
}

.navbar-item {
  padding: 4px;
  white-space: nowrap;
}

#map {
  flex: 1;
}

#sensor-table {
  flex: 0;
}

.charts {
  max-width: 520px;
  max-height: 100%;
  overflow: auto;
  position: relative;
}

.chart-container {
  position: relative;
  flex: 1;
}
