Checks: '
-*,
bugprone-*,
-bugprone-easily-swappable-parameters
cert-*,
-cert-err58-cpp,
-cert-dcl16-c,
cppcoreguidelines-*,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-avoid-non-const-global-variables,
modernize-*,
-modernize-use-nodiscard,
-modernize-avoid-c-arrays,
-modernize-use-trailing-return-type,
readability-*,
-readability-uppercase-literal-suffix,
-readability-magic-numbers,
-readability-qualified-auto,
-readability-identifier-length,
clang-analyzer-*,performance-*,
hicpp-*,-hicpp-special-member-functions,
-hicpp-avoid-c-arrays,
-hicpp-use-nullptr,
-hicpp-braces-around-statements,
-hicpp-no-array-decay,
-hicpp-noexcept-move,
-hicpp-uppercase-literal-suffix,
'