html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
h1 {
    text-align: center;
    font-size: 1.8rem;
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #0A1128;
}
body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    height: 100vh;
    background-color: black;
}
body > * {
    background-color: white;
}

.content {
    padding: 50px;
}
.card-grid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* grid-gap: 2rem;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); */
}
.card {
    flex: 1 0 100px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #034078
}
.reading {
    font-size: 1.2rem;
    color: #1282A2;
}

.load-cell {
    text-align: left;
}